.widget .wpml-ls-item a span {
    color: inherit
}

.mini-wpml {
    position: relative
}

.wpml-ls-legacy-list-horizontal>ul {
    padding: 0;
    margin: 0 !important;
    list-style-type: none
}

.wpml-ls-legacy-list-horizontal .wpml-ls-item {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block
}

.wpml-ls-legacy-list-horizontal a {
    display: block;
    text-decoration: none;
    padding: 5px 10px
}

.mini-wpml .wpml-ls-current-language>a,
.mini-wpml .wpml-ls-legacy-list-horizontal a,
.mini-wpml .wpml-ls-legacy-list-vertical a {
    text-decoration: none
}

.mini-wpml .wpml-ls-current-language>a:hover,
.mini-wpml .wpml-ls-legacy-list-horizontal a:hover,
.mini-wpml .wpml-ls-legacy-list-vertical a:hover {
    opacity: .7
}

.mini-wpml .wpml-ls-current-language:hover>a {
    opacity: .7
}

.wpml-ls-legacy-list-horizontal a span {
    vertical-align: middle
}

.wpml-ls-legacy-list-horizontal .wpml-ls-flag {
    display: inline;
    vertical-align: middle;
    width: 18px;
    height: 12px
}

.wpml-ls-legacy-list-horizontal .wpml-ls-flag+span {
    margin-left: .4em
}

.rtl .wpml-ls-legacy-list-horizontal .wpml-ls-flag+span {
    margin-left: 0;
    margin-right: .4em
}

.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
    margin-bottom: 30px
}

.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer>ul {
    text-align: center
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle,
.wpml-ls-item-legacy-dropdown-click a.wpml-ls-item-toggle {
    padding-right: 15px
}

.wpml-ls-legacy-dropdown>ul,
.wpml-ls-legacy-dropdown-click>ul {
    position: relative
}

.content .widget .wpml-ls-legacy-dropdown>ul,
.content .widget .wpml-ls-legacy-dropdown-click>ul {
    margin-bottom: 15px
}

.wpml-ls-item-legacy-dropdown-click a.wpml-ls-item-toggle:after,
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    content: '';
    vertical-align: middle;
    display: inline-block;
    border: .35em solid transparent;
    border-top: .5em solid;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.225em
}

.widget .wpml-ls-item-legacy-dropdown-click a.wpml-ls-item-toggle:after,
.widget .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    right: 10px
}

.dt-wpml .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.widget .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.dt-wpml .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu,
.widget .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu {
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    left: 0;
    visibility: hidden
}

.dt-wpml .mini-wpml .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.dt-wpml .mini-wpml .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu {
    top: 27px
}

.dt-wpml .top-bar .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.dt-wpml .top-bar .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu {
    top: 22px
}

.dt-wpml .side-header .mini-widgets .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.dt-wpml .side-header .mini-widgets .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu {
    top: auto;
    bottom: 17px
}

.widget .wpml-ls-item-legacy-dropdown-click .wpml-ls-sub-menu,
.widget .wpml-ls-item-legacy-dropdown .wpml-ls-sub-menu {
    border-top: 1px solid #cdcdcd;
    padding: 0
}

.widget .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover .wpml-ls-sub-menu,
.widget .wpml-ls-legacy-dropdown .wpml-ls-current-language:focus .wpml-ls-sub-menu {
    visibility: visible
}

#page .widget .wpml-ls-item:hover>a,
#page .widget .wpml-ls-item:focus>a,
#page .widget .wpml-ls-current-language>a,
#page .widget .wpml-ls-item:hover>a *,
#page .widget .wpml-ls-item:focus>a *,
#page .widget .wpml-ls-current-language>a * {
    color: var(--the7-accent-color)
}

.widget .wpml-ls-legacy-dropdown a,
.widget .wpml-ls-legacy-dropdown-click a {
    display: block;
    text-decoration: none;
    color: #444;
    border: 1px solid #e0e1e1;
    background-color: #fcfcfc;
    padding: 5px 10px
}

.widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu a,
.widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu a {
    border-width: 0 1px 1px 1px
}

.dt-wpml .main-nav>li.wpml-ls-item>a .menu-text,
.dt-wpml .main-nav>li.wpml-ls-item>a {
    color: #333
}

.dt-wpml .main-nav>li.act.wpml-ls-item>a {
    color: #333
}

.dt-wpml .main-nav>li.act.wpml-ls-item>a .menu-text,
.dt-wpml .main-nav>li.act.wpml-ls-item>a .subtitle-text {
    color: #333
}

.dt-wpml .main-nav>li:not(.act).wpml-ls-item>a:hover .subtitle-text,
.dt-wpml .main-nav>li:not(.act).wpml-ls-item>a:hover .menu-text,
.dt-wpml .main-nav>li.dt-hovered:not(.act).wpml-ls-item>a .subtitle-text,
.dt-wpml .main-nav>li.dt-hovered:not(.act).wpml-ls-item>a .menu-text {
    color: #333
}

.dt-wpml .main-nav>li:not(.act).wpml-ls-item>a:hover,
.dt-wpml .main-nav>li.dt-hovered:not(.act).wpml-ls-item>a {
    color: #333
}

.dt-wpml .main-nav .sub-nav>li.wpml-ls-item>a .menu-text,
.dt-wpml .mini-nav .sub-nav>li.wpml-ls-item>a .menu-text,
.dt-wpml .main-nav .sub-nav>li.wpml-ls-item>a,
.dt-wpml .mini-nav .sub-nav>li.wpml-ls-item>a,
.dt-wpml #bottom-bar .sub-nav>li.wpml-ls-item>a {
    color: #333
}

.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a,
.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a,
.dt-wpml #bottom-bar .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a,
.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover,
.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover,
.dt-wpml .sub-downwards .sub-nav li:not(.act).wpml-ls-item>a:hover {
    color: #e1000b
}

.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .menu-text,
.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav>li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .subtitle-text,
.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .menu-text,
.dt-wpml .masthead:not(.sub-downwards) .main-nav .sub-nav>li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .subtitle-text {
    color: #e1000b
}

.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .menu-text,
.dt-wpml .dt-mobile-header .mini-nav .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .menu-text,
.dt-wpml #bottom-bar .sub-nav li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .menu-text,
.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav>li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .subtitle-text,
.dt-wpml .dt-mobile-header .mini-nav .sub-nav>li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .subtitle-text,
.dt-wpml #bottom-bar .sub-nav>li:not(.act):not(.dt-mega-parent):not(.no-link).wpml-ls-item:hover>a .subtitle-text,
.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .menu-text,
.dt-wpml .dt-mobile-header .mini-nav .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .menu-text,
.dt-wpml #bottom-bar .sub-nav li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .menu-text,
.dt-wpml .masthead:not(.sub-downwards) .mini-nav .sub-nav>li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .subtitle-text,
.dt-wpml .dt-mobile-header .mini-nav .sub-nav>li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .subtitle-text,
.dt-wpml #bottom-bar .sub-nav>li.dt-mega-parent:not(.act):not(.no-link).wpml-ls-item>a:hover .subtitle-text {
    color: #e1000b
}

.dt-wpml .sub-downwards .sub-nav li:not(.act).wpml-ls-item>a:hover .menu-text,
.dt-wpml .sub-downwards .sub-nav>li:not(.act).wpml-ls-item>a:hover .subtitle-text {
    color: #e1000b
}

.dt-wpml .main-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item:not(.wpml-ls-item)>a,
.dt-wpml .mini-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item:not(.wpml-ls-item)>a,
.dt-wpml .main-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a i[class^="fa"],
.dt-wpml .mini-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a i[class^="fa"],
.dt-wpml .main-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a,
.dt-wpml .mini-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a {
    color: #e1000b
}

.dt-wpml .main-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a .menu-text,
.dt-wpml .mini-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a .menu-text,
.dt-wpml .main-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a .subtitle-text,
.dt-wpml .mini-nav .sub-nav>li.act:not(.dt-mega-parent).wpml-ls-item>a .subtitle-text,
.dt-wpml .main-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a .menu-text,
.dt-wpml .mini-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a .menu-text,
.dt-wpml .main-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a .subtitle-text,
.dt-wpml .mini-nav .sub-nav>li.dt-mega-parent.current-menu-item.wpml-ls-item>a .subtitle-text {
    color: #e1000b
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu,
.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border: none;
    padding: 10px;
    box-sizing: border-box
}

.mini-wpml,
.wpml-ls-item-legacy-dropdown>a,
.mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.wpml-ls-item-legacy-dropdown-click>a,
.mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.wpml-ls-legacy-list-horizontal a,
.wpml-ls-legacy-list-vertical a {
    font: 13px / 17px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333
}

.branding .mini-wpml,
.branding .wpml-ls-item-legacy-dropdown>a,
.branding .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.branding .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.branding .wpml-ls-item-legacy-dropdown-click>a,
.branding .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.branding .wpml-ls-legacy-list-horizontal a,
.branding .wpml-ls-legacy-list-vertical a {
    font: 20px / 24px "Arial", Helvetica, Arial, Verdana, sans-serif
}

.mixed-header .mini-wpml,
.mixed-header .wpml-ls-item-legacy-dropdown>a,
.mixed-header .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.mixed-header .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.mixed-header .wpml-ls-item-legacy-dropdown-click>a,
.mixed-header .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.mixed-header .wpml-ls-legacy-list-horizontal a,
.mixed-header .wpml-ls-legacy-list-vertical a {
    font: 20px / 24px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #888
}

.dt-mobile-header .mini-wpml,
.dt-mobile-header .wpml-ls-item-legacy-dropdown>a,
.dt-mobile-header .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.dt-mobile-header .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.dt-mobile-header .wpml-ls-item-legacy-dropdown-click>a,
.dt-mobile-header .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.dt-mobile-header .wpml-ls-legacy-list-horizontal a,
.dt-mobile-header .wpml-ls-legacy-list-vertical a {
    font: 500 13px / 17px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333
}

.mobile-header-bar .mobile-mini-widgets .mini-wpml,
.mobile-header-bar .mobile-mini-widgets .wpml-ls-item-legacy-dropdown>a,
.mobile-header-bar .mobile-mini-widgets .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.mobile-header-bar .mobile-mini-widgets .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.mobile-header-bar .mobile-mini-widgets .wpml-ls-item-legacy-dropdown-click>a,
.mobile-header-bar .mobile-mini-widgets .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.mobile-header-bar .mobile-mini-widgets .wpml-ls-legacy-list-horizontal a,
.mobile-header-bar .mobile-mini-widgets .wpml-ls-legacy-list-vertical a {
    font: 13px / 17px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333
}

.sidebar .widget .mini-wpml,
.sidebar-content .widget .mini-wpml,
.sidebar .widget .wpml-ls-item-legacy-dropdown>a,
.sidebar-content .widget .wpml-ls-item-legacy-dropdown>a,
.sidebar .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.sidebar-content .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.sidebar .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.sidebar-content .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.sidebar .widget .wpml-ls-item-legacy-dropdown-click>a,
.sidebar-content .widget .wpml-ls-item-legacy-dropdown-click>a,
.sidebar .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.sidebar-content .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.sidebar .widget .wpml-ls-legacy-list-horizontal a,
.sidebar-content .widget .wpml-ls-legacy-list-horizontal a,
.sidebar .widget .wpml-ls-legacy-list-vertical a,
.sidebar-content .widget .wpml-ls-legacy-list-vertical a {
    color: #000
}

.footer .widget .mini-wpml,
.footer .widget .wpml-ls-item-legacy-dropdown>a,
.footer .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.footer .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.footer .widget .wpml-ls-item-legacy-dropdown-click>a,
.footer .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.footer .widget .wpml-ls-legacy-list-horizontal a,
.footer .widget .wpml-ls-legacy-list-vertical a {
    color: #8b8d94
}

.footer .widget .mini-wpml,
.sidebar .widget .mini-wpml,
.sidebar-content .widget .mini-wpml,
.footer .widget .wpml-ls-item-legacy-dropdown>a,
.sidebar .widget .wpml-ls-item-legacy-dropdown>a,
.sidebar-content .widget .wpml-ls-item-legacy-dropdown>a,
.footer .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.sidebar .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.sidebar-content .widget .mini-wpml .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.footer .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.sidebar .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.sidebar-content .widget .wpml-ls-legacy-dropdown .wpml-ls-current-language>a:hover,
.footer .widget .wpml-ls-item-legacy-dropdown-click>a,
.sidebar .widget .wpml-ls-item-legacy-dropdown-click>a,
.sidebar-content .widget .wpml-ls-item-legacy-dropdown-click>a,
.footer .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.sidebar .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.sidebar-content .widget .mini-wpml .wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a,
.footer .widget .wpml-ls-legacy-list-horizontal a,
.sidebar .widget .wpml-ls-legacy-list-horizontal a,
.sidebar-content .widget .wpml-ls-legacy-list-horizontal a,
.footer .widget .wpml-ls-legacy-list-vertical a,
.sidebar .widget .wpml-ls-legacy-list-vertical a,
.sidebar-content .widget .wpml-ls-legacy-list-vertical a {
    font: var(--the7-widget-content-font);
    text-transform: var(--the7-widget-content-text-transform);
    letter-spacing: var(--the7-widget-content-letter-spacing);
    text-decoration: var(--the7-widget-content-text-decoration)
}

.mini-wpml .wpml-ls-legacy-list-horizontal a:hover,
.mini-wpml .wpml-ls-legacy-list-vertical a:hover {
    opacity: .7
}

.wpml-ls-sub-menu>li>a:hover {
    color: #e1000b
}

.top-header .main-nav .wpml-ls-sub-menu>li>a:hover {
    background-color: rgba(225, 0, 11, .07)
}

.side-header .wpml-ls-legacy-dropdown .wpml-ls-sub-menu,
.side-header .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    top: auto;
    bottom: 100%
}

.main-nav>li.wpml-ls-menu-item>a {
    font: 400 16px / 20px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    text-transform: none
}

.light-preset-color:not(.mobile-sticky-on).masthead:not(#phantom):not(.sticky-on) .main-nav>li.wpml-ls-menu-item>a {
    color: #fff
}

.mobile-main-nav>li.wpml-ls-menu-item>a {
    font: normal 400 16px / 20px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    text-transform: none;
    padding: 16px 30px 16px 0
}

li.wpml-ls-menu-item .wpml-ls-flag,
.wpml-ls-item .wpml-ls-flag {
    margin-right: 5px
}

.mini-wpml .wpml-ls-sub-menu {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    box-sizing: border-box
}

.wpml-ls-sub-menu>li>a {
    display: block;
    margin: 0 0 2px 0;
    padding: 10px 10px 10px 10px;
    font: normal 400 13px / 17px "Arial", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: #333;
    text-decoration: none
}

.mobile-main-nav .wpml-ls-sub-menu>li>a {
    padding: 6.5px 30px 6.5px 0;
    margin: 0;
    font: normal 400 13px / 17px "Arial", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    text-transform: none
}

.masthead .wpml-ls-legacy-dropdown li>ul>li a,
.masthead .wpml-ls-legacy-dropdown-click li>ul>li a,
.dt-mobile-header .wpml-ls-legacy-dropdown li>ul>li a,
.dt-mobile-header .wpml-ls-legacy-dropdown-click li>ul>li a {
    color: #333;
    padding: 5px 15px 5px 10px;
    background: none;
    border: none
}

.masthead .wpml-ls-legacy-dropdown li>ul>li a:hover,
.masthead .wpml-ls-legacy-dropdown-click li>ul>li a:hover,
.dt-mobile-header .wpml-ls-legacy-dropdown li>ul>li a:hover,
.dt-mobile-header .wpml-ls-legacy-dropdown-click li>ul>li a:hover {
    color: #e1000b;
    background-color: rgba(225, 0, 11, .07)
}